# Data Wrangling - La cirugia de los datos

In [1]:
import pandas as pd

In [2]:
titanicgit = "https://raw.githubusercontent.com/joanby/python-ml-course/master/datasets/customer-churn-model/Customer%20Churn%20Model.txt"
data = pd.read_csv(titanicgit)
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

# Crear un subconjunto de datos

In [3]:
account_lenht = data["Account Length"]
account_lenht.head()

0    128
1    107
2    137
3     84
4     75
Name: Account Length, dtype: int64

In [4]:
subset = data[["Account Length","Phone","Eve Charge","Day Calls"]]
subset.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

In [5]:
type(subset),type(account_lenht)

(pandas.core.frame.DataFrame, pandas.core.series.Series)

In [6]:
desired_columns=["Account Length","Phone","Eve Charge","Day Calls"]
subset2 = data[desired_columns]
subset2.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

In [7]:
desired_columns= ["Account Length","VMail Message","Day Calls"]
desired_columns

['Account Length', 'VMail Message', 'Day Calls']

In [8]:
all_columns=data.columns.values.tolist()
all_columns

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [9]:
sublist=[x for x in all_columns if x not in desired_columns]
sublist

['State',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'Day Mins',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [10]:
a = set(desired_columns)
b = set(all_columns)
sublist = b-a
sublist = list(sublist)
sublist

['Phone',
 'Night Mins',
 'Night Calls',
 'Intl Charge',
 'Eve Calls',
 'Eve Charge',
 'Churn?',
 'VMail Plan',
 'State',
 'Day Mins',
 'Area Code',
 'Day Charge',
 'Intl Calls',
 'Intl Mins',
 "Int'l Plan",
 'Night Charge',
 'CustServ Calls',
 'Eve Mins']

In [16]:
data[1:6]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.

In [18]:
data[:8]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False.

In [33]:
## Usuarios con total MIns superior a 500
data1=data[data["Day Mins"]>300]
data1.shape

(43, 21)

In [32]:
data2=data[data["State"]== "NY"]
data2.shape

(83, 21)

In [28]:
## AND - &
data3=data[(data["Day Mins"]>300)&(data["State"]== "NY")]
data3.shape

(2, 21)

In [34]:
## OR - |
data4=data[(data["Day Mins"]>300)|(data["State"]== "NY")]
data4.shape

(124, 21)

In [39]:
data5=data[data["Day Calls"]<data["Night Calls"]]
data5.shape

(1626, 21)

In [42]:
data6=data[data["Day Mins"]<data["Night Mins"]]
data6.shape

(2051, 21)

In [51]:
# minutos de dia, de noche y logitur de la cuenta de los primero 50 individuos
subset_50=data[["Day Mins", "Night Mins", "Account Length"]][:51]
subset_50.shape

(51, 3)

In [55]:
data7=data.iloc[1:51, 3:6]
data7.shape

(50, 3)

# Generacion aleatoria de numeros

In [59]:
import numpy as np

In [65]:
# generar un numero aleatorio entre 1 y 100
np.random.randint(1,100)

42

In [64]:
# La forma mas clasica de generar un numero alegaroio entre0 y 1 con decimales
np.random.random()

0.0076549552139791865

In [66]:
# funcion que genera una lista de n numeros aleatorios entre un intervao (a,b)
def randint_list (n,a,b):
    x=[]
    for i in range(n):
        x.append(np.random.randint(a,b))
    return x

In [69]:
randint_list(25,1,10)

[2, 7, 4, 6, 9, 8, 2, 2, 5, 1, 4, 9, 8, 9, 9, 1, 8, 3, 5, 5, 5, 6, 7, 1, 9]

In [73]:
randint_list(25,1,3)

[2, 1, 2, 1, 1, 2, 2, 2, 1, 2, 2, 2, 2, 1, 1, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2]

In [75]:
import random

In [79]:
random.randrange(0,100,2)

36

In [85]:
for i in range(10):
    print(random.randrange(0,100,2))

36
14
76
44
10
56
52
58
38
56

# shuffling

In [87]:
a=np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [91]:
np.random.shuffle(a)
a

array([9, 7, 8, 5, 0, 6, 2, 3, 1, 4])

In [93]:
data["Total llamadas"]=data["Day Calls"]+data["Night Calls"]+data["Eve Calls"]

data["Total Minutos"]=data["Day Mins"]+data["Night Mins"]+data["Eve Mins"]

In [94]:
data.shape

(3333, 23)

In [96]:
columnas=data.columns.values.tolist()
columnas

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?',
 'Total llamadas',
 'Total Minutos']

In [101]:
np.random.choice(columnas)

'Night Calls'

# seed

In [121]:
np.random.seed(1996)
for i in range(5):
    print(np.random.random())

0.6193051167657804
0.05794396730762219
0.4424255705163773
0.6772607110453909
0.06601725881074127

In [127]:
np.random.seed(1996)
for i in range(5):
    print(np.random.randint(1,100))

59
2
99
68
39